<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-adhoc" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AdhocSDK</name>
    <js-module name="AdhocSDK" src="www/AdhocSDK.js">
        <clobbers target="AdhocSDK" />
    </js-module>
    
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AHAdhocPlugin"><param name="ios-package" value="AHAdhocPlugin" />
            </feature>
        </config-file>
        
        <framework src="libsqlite3.tbd" weak="true" />
        <framework src="libicucore.tbd" weak="true" />
        <framework src="Security.framework" weak="true" />
        <framework src="CFNetwork.framework" weak="true" />
    
        <framework src="src/ios/AdhocSDKLite.framework" custom="true" />
        
        <source-file src="src/ios/AHAdhocPlugin.h" />
        <source-file src="src/ios/AHAdhocPlugin.m" />
    </platform>
    
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AdhocSDK"><param name="android-package" value="com.appadhoc.plugin.AdhocCordovaPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
        </config-file>
        <source-file src="src/android/AdhocCordovaPlugin.java" target-dir="src/com.appadhoc.plugin" />
    </platform>
</plugin>
